
@model List<Entity.UserDelayEntity>

<style>

    .self_li {
        list-style: none;
        padding: 2% 5%
    }

    select {
        color: #524f4f;
        font-family: 'ITC Avant Garde Pro Bk';
    }

    option {
        color: #999;
        font-family: 'ITC Avant Garde Pro Bk';
    }

    input {
        color: #999;
        font-family: 'ITC Avant Garde Pro Bk';
    }

    table {
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }

        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }

        table thead th {
            background-color: #CCE8EB;
            width: 100px;
        }

        table tr:nth-child(odd) {
            background: #fff;
        }

        table tr:nth-child(even) {
            background: #F5FAFA;
        }
</style>

<section class="sec sec2" style="font-style:normal;color:#999;font-family:'ITC Avant Garde Pro Bk'">
    <div class="row boxed clearfix productVideo">

        <div class="col-12">

            <div class="col-4 col-12-s">

                <div class="col-12 col-12-s" style="text-align:left;padding-left:20%;">
                    <ul>
                        <li class="self_li">
                            <a asp-action="Self" style="font-size:1.0rem">
                                <i class="fa fa-user fa-2x"></i>
                                My Account
                            </a>
                        </li>
                        <li class="self_li">
                            <a asp-action="Message" style="font-size:1.0rem">
                                <i class="fa fa-envelope fa-2x"></i>
                                My Message
                            </a>
                        </li>
                        <li class="self_li">
                            <a asp-action="DelayList" style="color:#9f0002;font-size:1.0rem">
                                <i class="fa fa-pencil-alt fa-2x"></i>
                                My Warranty Product
                            </a>
                        </li>
                        <li class="self_li">
                            <a asp-action="LoginOut" style="font-size:1.0rem">
                                <i class="fa fa-sign-out-alt fa-2x"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>

            </div>


            <div class="col-8 col-12-s" style="border-left:1px solid #999;padding-left:5%">
                <div class="col-12 col-12-s">


                    <div class="col-12S col-12-s" style="text-align:left;padding:1% 0">
                        <form asp-action="CreateDelay" method="post" style="width:100%;height:100%" onsubmit="return CheckDelay()">
                            <div>
                                <div class="col-6 col-12-s" style="text-align:left;padding:1% 0">
                                    <label>
                                        Order No*
                                    </label>
                                    <br />
                                    <input name="bill" type="text" id="bill" style="border: 1px solid #cfcfcf; border-radius: 3px; box-shadow: none; width:80%; height:32px;" />
                                    <p id="tipBill" style="color:red; text-align:left;" hidden>NOT NULL</p>
                                </div>
                                <div class="col-6 col-12-s" style="text-align:left;padding:1% 0">
                                    <label>
                                        Buy Platform*
                                    </label>
                                    <br />
                                    <input name="platform" type="text" id="platform" style="border: 1px solid #cfcfcf; border-radius: 3px; box-shadow: none; width:80%; height:32px;" />
                                    <p id="tipPlatform" style="color:red; text-align:left;" hidden>NOT NULL</p>
                                </div>
                                <div class="col-6 col-12-s" style="text-align:left;padding:1% 0">
                                    <label>
                                        Model Number*
                                    </label>
                                    <br />
                                    <input name="modelNumber" type="text" id="modelNumber" style="border: 1px solid #cfcfcf; border-radius: 3px; box-shadow: none; width:80%; height:32px;" />
                                    <p id="tipModelNumber" style="color:red; text-align:left;" hidden>NOT NULL</p>
                                </div>
                                <div class="col-6 col-12-s" style="text-align:left;padding:1% 0">
                                    <label>
                                        Phone Number
                                    </label>
                                    <br />
                                    <input name="phoneNumber" type="text" id="phoneNumber" style="border: 1px solid #cfcfcf; border-radius: 3px; box-shadow: none; width:80%; height:32px;" />
                                    <p id="tipPhoneNumber" style="color:red; text-align:left;" hidden>NOT NULL</p>
                                </div>
                                <div class="col-6 col-12-s" style="text-align:left;padding:1% 0">
                                    <label>
                                        Purchasing Date*
                                    </label>
                                    <br />
                                    <input name="purchasingDate" type="date" id="purchasingDate" style="border: 1px solid #cfcfcf; border-radius: 3px; box-shadow: none; width:80%; height:30px;" />
                                    <p id="tipPurchasingDate" style="color:red; text-align:left;" hidden>NOT NULL</p>
                                </div>
                            </div>

                            <div class="col-12 col-12-s" style="text-align:left">
                                <button type="submit" class="btn btn-default" style="margin-top:13px;">Add</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-12 col-12-s" style="text-align:left;padding:1% 0">
                        <div style="padding:2% 2%; background-color:#f5fafa;border-top:1px solid #cad9ea;border-left:1px solid #cad9ea;border-right:1px solid #cad9ea;text-align:center;">

                            <label>
                                My Warranty Products
                            </label>
                            <br />
                        </div>

                        <table style="width:100%" border="0" cellspacing="0" cellpadding="0" id="warranty_list">
                            <tbody>
                                <tr>
                                    <td>Order No</td>
                                    <td>Buy Platform</td>
                                    <td>Model Number</td>
                                    <td>Phone Number</td>
                                    <td>Purchasing Date</td>
                                    <td>Add Time</td>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.bill</td>
                                        <td>@item.platform</td>
                                        <td>@item.modelNumber</td>
                                        <td>@item.phoneNumber</td>
                                        <td>@item.purchasingDate.ToString("yyyy-MM-dd")</td>
                                        <td>@item.createDate.ToString("yyyy-MM-dd")</td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>

<script type="text/javascript">
    function CheckDelay() {
        $("#tipBill").hide();
        $("#tipPlatform").hide();
        $("#tipModelNumber").hide();
        $("#tipPurchasingDate").hide();

        var bill = $("#bill").val()
        if (bill == "") {
            $("#tipBill").show();
            return false;
        }
        var platform = $("#platform").val()
        if (platform == "") {
            $("#tipPlatform").show();
            return false;
        }
        var modelNumber = $("#modelNumber").val()
        if (modelNumber == "") {
            $("#tipModelNumber").show();
            return false;
        }
        var purchasingDate = $("#purchasingDate").val()
        if (purchasingDate == "") {
            $("#tipPurchasingDate").show();
            return false;
        }
        return true
    }
</script>