
@{
    zhongchen.Base.BaseController baseController = new zhongchen.Base.BaseController();

    Entity.CompanyBaseEntity companyBaseEntity = baseController.GetCompanyBase();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@companyBaseEntity.name</title>
    <link href="~/css/gmstyle.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/gmscript.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <style type="text/css">
    </style>


</head>
<body>

    <header class="header">
        <div class="row full" style="padding-right:10%;padding-left:12%">
            <div class="logo col-2 col-6-s first">
                <a href="/">
                    <img src="@companyBaseEntity.logo" alt="">
                </a>
            </div>

            <div id="titleDiv" class="menu col-8 col-2-s">
                <div class="menu-mob-a">
                    <div class="menu-mob"></div>
                </div>

                <ul class="menu">
                    <li>
                        <a href="/Product/List">PRODUCTS</a>
                        @await Component.InvokeAsync("ProductType", new { pViewName = "Menu" })
                    </li>
                    <li><a href="/Video/List">VIDEO</a></li>
                    <li><a href="/Recipe/List">RECIPES</a></li>
                    <li><a href="/Home/About">ABOUT</a></li>
                    <li><a href="/Home/Contact">CONTACT</a></li>
                </ul>
            </div>

            <div id="searchDiv" class="col-8 search-icon col-2-s" style="text-align:right;padding:34px 0">
                <div style="width:50%;height:30px;background-color:transparent;border:2px solid #ffffff;border-radius:18px;float:right">
                    <form asp-action="Search" asp-controller="Home" method="post" style="height:100%" onsubmit="return Check()">
                        <select name="typeId" style="background-color:transparent; width:20%;height:100%;color:#ffffff;border-right:2px solid #ffffff; outline:none;cursor:pointer">
                            <option value="1" selected style="background-color:black;">all</option>
                            <option value="4" style="background-color:black;">video</option>
                            <option value="2" style="background-color:black;">recipe</option>
                            <option value="3" style="background-color:black;">product</option>

                        </select>
                        <input id="searchInput" type="text" name="searchString" placeholder="search..." style="background-color:transparent; width:65%;height:100%; outline:none; color:#ffffff">
                        <button type="submit" style="background-color:transparent;width:10%; height:100%; outline:none;cursor:pointer">
                            <i class="fa fa-search" style="color:#ffffff"></i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="search-icon col-1 col-2-s" id="searchShow">
                <div class="search">
                    <i class="fa fa-search"></i>
                </div>
            </div>

            <div class="search-icon col-1 col-2-s" id="searchHide">
                <div class="search">
                    <i class="fa fa-times"></i>
                </div>
            </div>

            <div class="search-icon col-1 col-2-s" id="user">
                <div class="search">
                    <a asp-action="Self" asp-controller="User"><i class="fa fa-user"></i></a>
                </div>
            </div>
        </div>

    </header>


    <partial name="_CookieConsentPartial" />


    @RenderBody()
    <hr />
    <footer class="page-footer" style="padding-left:15%; padding-right:15%">
        <div class="row full clearfix">
            <div class="col-12">
                <div class="col-12">
                    <div class="col-3 col-12-s " style="padding-bottom:30px">
                        <h4>Product</h4>
                        <div class=" hideme">
                            <p>
                                <a href="/Product/List">Electric Oven</a><br>
                                <a href="/Product/List">Food Dehydrator</a><br>
                                <a href="/Product/List">Humidifier</a><br>
                                <a href="/Product/List">Ceramic Burner</a><br>
                                <a href="/Product/List">Jam Maker</a><br>
                            </p>
                        </div>
                    </div>
                    <div class="col-2 col-12-s " style="padding-bottom:30px">
                        <h4>ABOUT</h4>

                        <div class="">
                            <p>

                                <a href="/Home/About">loyola</a><br>

                            </p>
                        </div>
                    </div>
                    <div class="col-2 col-12-s " style="padding-bottom:30px">
                        <h4>SUPPORT</h4>

                        <div class="">
                            <p>

                                <a href="/Home/Support">Top FAQ</a><br>
                                <a href="/Home/Support">Warranty</a><br>
                                <a href="/Home/Support">Customer Service</a><br>


                            </p>
                        </div>
                    </div>
                    <div class="col-3 col-12-s " style="padding-bottom:30px">
                        <h4>BUY ON AMAZON</h4>

                        <div class="">
                            <p>

                                <a href="">United States</a><br>
                                <a href="">Deutschland</a><br>
                            </p>
                        </div>
                    </div>
                    <div class="col-2 col-12-s " style="padding-bottom:30px">
                        <h4> </h4>
                        <h4> </h4>
                        <h4> </h4>
                        <a href="/" style="padding-left:15%">
                            <img src="@companyBaseEntity.logo" alt="">
                        </a>


                    </div>

                </div>

            </div>

            <div class="col-12 copyrights center-xs">
                <div class="col-6 col-12-xs">
                    <a href="@companyBaseEntity.facebook" target="_blank" title="facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="@companyBaseEntity.instagram" target="_blank" title="instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="@companyBaseEntity.twitter" target="_blank" title="twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="@companyBaseEntity.youtube" target="_blank" title="youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
                <div class="col-6 col-12-xs center-xs">
                    <p class="center-xs">
                        © @DateTime.Now.Year @companyBaseEntity.name, Inc.
                        <a href=""> Privacy Policy</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    @RenderSection("Scripts", required: false);

    <script type="text/javascript">
        $(function () {

            $("#titleDiv").show()
            $("#searchShow").show()
            $("#searchHide").hide()
            $("#searchDiv").hide()

            $("#searchShow").click(function () {
                $("#titleDiv").hide()
                $("#searchShow").hide()
                $("#searchHide").show()
                $("#searchDiv").show()
            });

            $("#searchHide").click(function () {
                $("#titleDiv").show()
                $("#searchShow").show()
                $("#searchHide").hide()
                $("#searchDiv").hide()
            });

        })

        function Check() {
            if ($("#searchInput").val() == "") {
                return false
            }
            return true
        }
    </script>



</body>
</html>
