@model List<Entity.ProductEntity>
@{

    List<Entity.ProductTypeEntity> productTypeEntities = ViewBag.productTypeEntities;
}


<section class="sec sec2" id="productList">
    <div class="row boxed clearfix">
        <div class="col-10 col-12-s productVideo">


            @foreach (var item1 in productTypeEntities)
            {
                <div class="col-12 productVideo">
                    <div id="@item1.productTypeId">@Html.Raw(item1.title)</div>
                    <div class="col-12" style="padding-bottom:30px">
                        @{
                            var temp1 = Model.Where(it => it.productTypeId == item1.productTypeId).ToList();
                        }
                        @foreach (var item2 in temp1)
                        {
                            <div class="col-4 col-6-s col-12-xs hideme" style="opacity: 1;padding:5% 5%">
                                <a href="/Product/Detail?productId=@item2.productId">
                                    <img src="@item2.coverImage">
                                    <div>@Html.Raw(item2.title)</div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }

        </div>

        <div class="col-2 productNav" id="productNav">
            <div class="col-12">
                <div style="opacity: 1;text-align:left;position:fixed;top:300px;width:250px">

                    @foreach (var item in productTypeEntities)
                    {
                        <div class="" style="text-align:left">

                            <a href="#@item.productTypeId" style="text-decoration:none;color:inherit;">
                                <div>@Html.Raw(item.subheading)</div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</section>

