
@model Entity.ProductEntity
@{

    List<Entity.ProductImageEntity> productImageList = ViewBag.productImageList;
}


<section id="scroll" class="sec sec1 container " style="background-color:#fff">

    <div class="row boxed clearfix productSet">

        <div class="col-12" style="padding: 0 15%">

            <div class="col-6 col-12-s ">

                <div class="col-12">
                    <div style="text-align:center">
                        <img id="ProductImg" class="productImg" src="@( productImageList.Count > 0 ? productImageList[0].imagePath : "")" alt="">

                    </div>
                </div>

                <div class="col-12" style="padding:50px 20px">

                    @foreach (var item in productImageList)
                    {
                        <div class="col-3">
                            <img name="dre" style="width:100%;height:100%; display:inline;border:1px solid #ccc; cursor:pointer " src="@item.imagePath" alt="">
                        </div>
                    }

                </div>
            </div>

            <div class="col-6 col-12-s ">
                 
                <div>@Html.Raw(Model.explain)</div>

                @if (!string.IsNullOrWhiteSpace(Model.buyLink))
                {

                    <div class="col-12" style="padding:50px 50px;text-align:center;font-size:1.7rem">
                        <a href="@Model.buyLink" class="btn hideme" target="_blank">Buy on Amazon</a>
                    </div>
                }
            </div>
        </div>

        <div class="col-12" style="padding: 2% 15%;text-align:center;">
            <div class="row">
                <div class="col-3 col-3-s col-3-xs" style="padding:0 0">
                    <a class="btn hideme" id="btnDescription" style="width:65%;cursor:pointer; " onclick="ShowDescription()">Description</a>
                </div>
                <div class="col-3 col-3-s col-3-xs" style="padding:0 0">
                    <a class="btn hideme" id="btnDetails" style="width:65%;cursor:pointer;" onclick="ShowDetails()">Details</a>
                </div>
                <div class="col-3 col-3-s col-3-xs" style="padding:0 0">
                    <a class="btn hideme" id="btnItemIncludes" style="width:65%;cursor:pointer;" onclick="ShowItemIncludes()">Item Includes</a>
                </div>
                <div class="col-3 col-3-s col-3-xs" style="padding:0 0">
                    <a class="btn hideme" id="btnReviews" style="width:65%;cursor:pointer;" onclick="ShowReviews()">Reviews</a>
                </div>
            </div>
        </div>

        <br />
        <br />

        <div class="col-12" style="padding: 0 15%">
            <div id="divContent">


            </div>
           
        </div>

    </div>
</section>

<script type="text/javascript">

    $(function () {
        $("img[name=dre]").click(function (e) {
            $("#ProductImg").attr("src",e.target.src);
        })
        ShowDescription()
    })

    function ShowDescription() {
        $("#divContent").html('@Html.Raw(Model.description)' + ' <i class="fa fa-file-pdf fa-2x"></i><a href="@Model.specification" target="_blank" style="text-decoration:none;color:inherit;cursor:pointer;">  DOWNLOAD MANUAL</a>')
    }

    function ShowDetails() {
            $("#divContent").html('@Html.Raw(Model.details)')
    }

    function ShowItemIncludes() {
           $("#divContent").html('@Html.Raw(Model.itemIncludes)')
    }

    function ShowReviews() {
         $("#divContent").html('')
    }

</script>



