

@model Entity.ProductEntity
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">详细</h4>
        </div>
        <div class="content">
            <form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="productId" class="control-label">ID</label>
                            <input disabled asp-for="productId" class="form-control border-input" />
                            <span asp-validation-for="productId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="title" class="control-label">标题</label>
                            <scrip id="title" type="text/plain" name="title" style="width:100%; height:100%"></scrip>
                            <span asp-validation-for="title" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="productTypeId" class="control-label">分类ID</label>
                            <input disabled asp-for="productTypeId" class="form-control border-input" />
                            <span asp-validation-for="productTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="explain" class="control-label">功能介绍</label>
                            <scrip id="explain" type="text/plain" name="explain" style="width:100%; height:100%"></scrip>
                            <span asp-validation-for="explain" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="buyLink" class="control-label">产品购买链接</label>
                            <input disabled asp-for="buyLink" class="form-control border-input" />
                            <span asp-validation-for="buyLink" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="description" class="control-label">描述</label>
                            <scrip id="description" type="text/plain" name="description" style="width:100%; height:100%"></scrip>
                            <span asp-validation-for="description" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="details" class="control-label">详细</label>
                            <scrip id="details" type="text/plain" name="details" style="width:100%; height:100%"></scrip>
                            <span asp-validation-for="details" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="itemIncludes" class="control-label">包括</label>
                            <scrip id="itemIncludes" type="text/plain" name="itemIncludes" style="width:100%; height:100%"></scrip>
                            <span asp-validation-for="itemIncludes" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="coverImage" class="control-label">封面图片</label>
                            <img src="@( Model.coverImage)" width="350" />
                            <input disabled asp-for="coverImage" class="form-control border-input" />
                            <span asp-validation-for="coverImage" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="specification" class="control-label">说明书</label>
                            <input disabled asp-for="specification" class="form-control border-input" />
                            <span asp-validation-for="specification" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="adminId" class="control-label">创建者</label>
                            <input disabled asp-for="adminId" class="form-control border-input" />
                            <span asp-validation-for="adminId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="createDate" class="control-label">创建时间</label>
                            <input disabled asp-for="createDate" class="form-control border-input" />
                            <span asp-validation-for="createDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="modifyDate" class="control-label">修改时间</label>
                            <input disabled asp-for="modifyDate" class="form-control border-input" />
                            <span asp-validation-for="modifyDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a asp-action="List" class="btn btn-round btn-fill btn-wd">返回列表</a>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>


<script src="~/js/Common/ueditor.config.js"></script>
<script src="~/js/Common/ueditor.all.min.js"></script>
<script src="~/js/Common/zh-cn.js"></script>
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">产品图片</h4>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>图片ID</th>
                                    <th>路径</th>
                                    <th>商品编号</th>
                                    <th>预览</th>
                                </tr>
                            </thead>
                            <tbody id="tabImage"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $("#liProduct").addClass("active");

        ListProductImage();
    });

        //获取产品图片
    function ListProductImage() {
        var productId = @( Model.productId);

        if (productId != "0"){

            $.ajax({
                url: "/Product/ListProductImage",
                type: "POST",
                data: { productId: productId },
                success: function (result) {

                    if (result.code != "200") {

                        $.notify({
                            icon: 'ti-bell',
                            message: result.error

                        }, {
                            type: 'Danger',
                            timer: 2000
                        });
                    }

                    if (result.data.length > 0) {
                        ShowTable( result.data)
                    }
                }
            });

        }
    }

    //填充表格
    function ShowTable(data) {
        var strTab = ""

        for (let item of data) {
            strTab = "<tr>"
            strTab += "<td>" + item.productImageId + "</td>"
            strTab += "<td>" + item.imagePath + "</td>"
            strTab += "<td>" + item.productId + "</td>"
            strTab += "<td><img src='" + item.imagePath + "' width='100' /></td>"
            strTab += "</tr>"
            $("#tabImage").append(strTab)
        }
    }

    var titleUE = UE.getEditor('title', {
        toolbars: [
            [
                'undo', //撤销
                'italic', //斜体
                'bold', //加粗
                'underline', //下划线
                'fontborder',
                'strikethrough',
                'superscript',
                'subscript',
                'removeformat',
                'formatmatch',
                'autotypeset',
                'pasteplain', '|',
                'forecolor',
                'backcolor',
                'insertorderedlist',
                'insertunorderedlist',
                'selectall',
                'cleardoc', '|',
                'rowspacingtop',
                'rowspacingbottom',
                'lineheight', '|',
                'customstyle',
                'paragraph',
                'fontfamily',
                'fontsize', '|',
                'directionalityltr',
                'directionalityrtl',
                'indent', '|',
                'justifyleft',
                'justifycenter',
                'justifyright',
                'justifyjustify', '|',
                'touppercase',
                'tolowercase', '|',
                'horizontal'
            ]
        ]
    });

    titleUE.ready(function () {
        titleUE.execCommand('inserthtml', '@Html.Raw(Model.title)');
        titleUE.setDisabled('fullscreen');
    });

    var explainUE = UE.getEditor('explain', {
        toolbars: [
            [
                'undo', //撤销
                'italic', //斜体
                'bold', //加粗
                'underline', //下划线
                'fontborder',
                'strikethrough',
                'superscript',
                'subscript',
                'removeformat',
                'formatmatch',
                'autotypeset',
                'pasteplain', '|',
                'forecolor',
                'backcolor',
                'insertorderedlist',
                'insertunorderedlist',
                'selectall',
                'cleardoc', '|',
                'rowspacingtop',
                'rowspacingbottom',
                'lineheight', '|',
                'customstyle',
                'paragraph',
                'fontfamily',
                'fontsize', '|',
                'directionalityltr',
                'directionalityrtl',
                'indent', '|',
                'justifyleft',
                'justifycenter',
                'justifyright',
                'justifyjustify', '|',
                'touppercase',
                'tolowercase', '|',
                'horizontal'
            ]
        ]
    });

    explainUE.ready(function () {
        explainUE.execCommand('inserthtml', '@Html.Raw(Model.explain)');
        explainUE.setDisabled('fullscreen');
    });

    var descriptionUE = UE.getEditor('description', {
        toolbars: [
            [
                'undo', //撤销
                'italic', //斜体
                'bold', //加粗
                'underline', //下划线
                'fontborder',
                'strikethrough',
                'superscript',
                'subscript',
                'removeformat',
                'formatmatch',
                'autotypeset',
                'pasteplain', '|',
                'forecolor',
                'backcolor',
                'insertorderedlist',
                'insertunorderedlist',
                'selectall',
                'cleardoc', '|',
                'rowspacingtop',
                'rowspacingbottom',
                'lineheight', '|',
                'customstyle',
                'paragraph',
                'fontfamily',
                'fontsize', '|',
                'directionalityltr',
                'directionalityrtl',
                'indent', '|',
                'justifyleft',
                'justifycenter',
                'justifyright',
                'justifyjustify', '|',
                'touppercase',
                'tolowercase', '|',
                'horizontal'
            ]
        ]
    });
    descriptionUE.ready(function () {
        descriptionUE.execCommand('inserthtml', '@Html.Raw(Model.description)');
        descriptionUE.setDisabled('fullscreen');
    });

    var detailsUE = UE.getEditor('details', {
        toolbars: [
            [
                'undo', //撤销
                'italic', //斜体
                'bold', //加粗
                'underline', //下划线
                'fontborder',
                'strikethrough',
                'superscript',
                'subscript',
                'removeformat',
                'formatmatch',
                'autotypeset',
                'pasteplain', '|',
                'forecolor',
                'backcolor',
                'insertorderedlist',
                'insertunorderedlist',
                'selectall',
                'cleardoc', '|',
                'rowspacingtop',
                'rowspacingbottom',
                'lineheight', '|',
                'customstyle',
                'paragraph',
                'fontfamily',
                'fontsize', '|',
                'directionalityltr',
                'directionalityrtl',
                'indent', '|',
                'justifyleft',
                'justifycenter',
                'justifyright',
                'justifyjustify', '|',
                'touppercase',
                'tolowercase', '|',
                'horizontal'
            ]
        ]
    });

    detailsUE.ready(function () {
        detailsUE.execCommand('inserthtml', '@Html.Raw(Model.details)');
        detailsUE.setDisabled('fullscreen');
    });

    var itemIncludesUE = UE.getEditor('itemIncludes', {
        toolbars: [
            [
                'undo', //撤销
                'italic', //斜体
                'bold', //加粗
                'underline', //下划线
                'fontborder',
                'strikethrough',
                'superscript',
                'subscript',
                'removeformat',
                'formatmatch',
                'autotypeset',
                'pasteplain', '|',
                'forecolor',
                'backcolor',
                'insertorderedlist',
                'insertunorderedlist',
                'selectall',
                'cleardoc', '|',
                'rowspacingtop',
                'rowspacingbottom',
                'lineheight', '|',
                'customstyle',
                'paragraph',
                'fontfamily',
                'fontsize', '|',
                'directionalityltr',
                'directionalityrtl',
                'indent', '|',
                'justifyleft',
                'justifycenter',
                'justifyright',
                'justifyjustify', '|',
                'touppercase',
                'tolowercase', '|',
                'horizontal'
            ]
        ]
    });

    itemIncludesUE.ready(function () {
        itemIncludesUE.execCommand('inserthtml', '@Html.Raw(Model.itemIncludes)');
        itemIncludesUE.setDisabled('fullscreen');
    });
</script>
