@model List<Entity.ProductTypeEntity>
@{
    int productTypeId = ViewBag.productTypeId;
    bool isZero = ViewBag.isZero;
}
<select name="@(string.IsNullOrWhiteSpace(ViewBag.docName) ? "productTypeId" : ViewBag.docName)" class="form-control  border-input">

    @foreach (var item in Model)
    {
        if (item.productTypeId == productTypeId)
        {
            <option value="@item.productTypeId" selected>@item.name</option>
        }
        else
        {
            <option value="@item.productTypeId">@item.name</option>
        }
    }
    @if (isZero)
    {
        <option value="0">一级分类</option>
    }

</select>