@model IEnumerable<Entity.VideoEntity>


<section class="sec sec2" style="background-color:antiquewhite">
    <div class="row boxed clearfix productVideo">

        <div class="col-12 productVideo" style="padding-bottom:30px">
            <div class="col-12 productVideo">
                <h3 class="col-12 hideme" style="opacity: 1; text-align:left; padding:40px 40px; font-size:2rem">Product Videos</h3>
                <hr class="col-12" style="height:3px;border:none;border-top:1px solid #808080;" />
                <div class="col-12" style="padding-bottom:30px">
                    @{
                        var temp1 = Model.Where(it => it.typeName == "产品");
                    }
                    @foreach ( var item in temp1)
                    {
                        <div class="col-3 col-6-s col-12-xs hideme" style="opacity: 1;padding-bottom:20px; padding-top:20px">
                            <a href="@item.URL" target="_blank">
                                <img src="@item.coverImage" style="width:100%" alt="video">
                            </a>
                            <div style="padding:20px 30px">
                                <a href="@item.bill" target="_blank">a敖德萨所大所大所多撒多所</a>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

        <div class="col-12 productVideo" style="padding-bottom:30px">
            <div class="col-12 productVideo">
                <h3 class="col-12 hideme" style="opacity: 1; text-align:left; padding:40px 40px; font-size:2rem">Recipes Videos</h3>
                <hr class="col-12" style="height:3px;border:none;border-top:1px solid #808080;" />
                <div class="col-12" style="padding-bottom:30px">
                    @{
                        var temp2 = Model.Where(it => it.typeName == "食谱");
                    }
                    @foreach (var item in temp2)
                    {
                        <div class="col-3 col-6-s col-12-xs hideme" style="opacity: 1;padding-bottom:20px; padding-top:20px">
                            <a href="@item.URL" target="_blank">
                                <img src="@item.coverImage" style="width:100%" alt="video">
                            </a>
                            <div style="padding:20px 30px">
                                <a href="@item.bill" target="_blank">a敖德萨所大所大所多撒多所</a>
                            </div>
                        </div>
                    }
                    </div>
            </div>

        </div>

        <div class="col-12 productVideo" style="padding-bottom:30px">
            <div class="col-12 productVideo">
                <h3 class="col-12 hideme" style="opacity: 1; text-align:left; padding:40px 40px; font-size:2rem">Other Videos</h3>
                <hr class="col-12" style="height:3px;border:none;border-top:1px solid #808080;" />
                <div class="col-12" style="padding-bottom:30px">
                    @{
                        var temp3 = Model.Where(it => it.typeName == "-1");
                    }
                    @foreach (var item in temp3)
                    {
                        <div class="col-3 col-6-s col-12-xs hideme" style="opacity: 1;padding-bottom:20px; padding-top:20px">
                            <a href="@item.URL" target="_blank">
                                <img src="@item.coverImage" style="width:100%" alt="video">
                            </a>
                            <div style="padding:20px 30px">
                                <a href="@item.bill" target="_blank">a敖德萨所大所大所多撒多所</a>
                            </div>
                        </div>
                    }
                    </div>
            </div>

        </div>


    </div>
</section>
