@model List<Entity.MilestonesEntity>
@{
    List<Entity.HtmlImageTextElementEntity> htmlImageTextElementEntities = ViewBag.htmlImageTextElementEntities;

}

<style type="text/css">
    .extend:HOVER {
        cursor: pointer;
        transition: all 0.6s;
        transform: scale(1.2);
    }
</style>

<div>
    <img style="width:100%;" src="@htmlImageTextElementEntities.Where( it => it.keys == "关于页图文1" ).First().img" />
</div>





<section class="sec sec2" style="padding:30px 0">
    <div class="row boxed clearfix productVideo">


        <div class="col-12">
            <div class="col-12 col-12-s productVideo" style="padding-bottom:30px;">
                <div>@Html.Raw(htmlImageTextElementEntities.Where(it => it.keys == "关于页图文1").First().contents)</div>
            </div>
        </div>

        <div>
            <div class="col-12 col-12-s productVideo">
                <img style="width:100%;" src="@htmlImageTextElementEntities.Where( it => it.keys == "关于页图文2" ).First().img" />
            </div>
        </div>

        <div class="col-12">

            <div class="col-12 col-12-s productVideo" style="padding-bottom:30px;vertical-align:middle;">
                <div class="col-6 col-12-s" style="padding-bottom:0">
                    <img src="@htmlImageTextElementEntities.Where( it => it.keys == "关于页图文3" ).First().img" style="width:100%" />

                </div>

                <div class="col-6 col-12-s" style="padding-bottom:0">
                    <div>@Html.Raw(htmlImageTextElementEntities.Where(it => it.keys == "关于页图文3").First().contents)</div>
                </div>
            </div>

            <div class="col-12 productVideo" style="padding-bottom:30px">
                <div class="col-6 col-12-s" style="padding-bottom:0">
                    <div>@Html.Raw(htmlImageTextElementEntities.Where(it => it.keys == "关于页图文4").First().contents)</div>
                </div>
                <div class="col-6 col-12-s " style="padding-bottom:0">
                    <img src="@htmlImageTextElementEntities.Where( it => it.keys == "关于页图文4" ).First().img" style="width:100%" />
                </div>
            </div>
        </div>
    </div>


    <div class="row boxed clearfix productVideo">
        <div class="col-12">
            <div class="col-12 col-12-s productVideo">
                <div>@Html.Raw(ViewBag.milestonesTitle)</div>
            </div>

            <div class="col-12 col-12-s productVideo">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="col-2 col-6-s col-12-xs extend" style="padding:0 0">
                        <img src="@Model[i].img" style="width:100%;" />
                    </div>
                }
            </div>
           
        </div>
    </div>
</section>




