
@model List<Entity.HtmlFontElementEntity>

<section class="sec sec2">
    <div class="row boxed clearfix productVideo">

        <div class="col-12 productVideo" style="padding-bottom:30px">
            <div class="col-6 col-12-s" style="padding-left:10%">
                <form method="post">

                    <div class="col-12 col-12-s">
                        @Html.Raw(Model.Where(it => it.keys == "联系页标题左").First().value)
                    </div>

                    <div class="col-6 col-12-s" style="padding-bottom:1%;">
                        <div class="col-12 col-12-s" style="text-align:left;padding:1% 0">
                            <label>
                                Your Name*
                            </label>
                        </div>
                        <div class="col-12 col-12-s" style="text-align:left;padding:1% 0">
                            <input name="name" id="name" style="border: 1px solid #cfcfcf; border-radius: 3px; box-shadow: none; width:100%; height:30px;" />
                            <p id="tipName" style="color:red; text-align:left;" hidden>NOT NULL</p>
                        </div>
                    </div>

                    <div class="col-6 col-12-s" style="padding-bottom:1%;">
                        <div class="col-12 col-12-s" style="text-align:left;padding:1% 0">
                            <label>
                                Your Email*
                            </label>
                        </div>
                        <div class="col-12 col-12-s" style="text-align:left;padding:1% 0">
                            <input name="email" id="email" style="border: 1px solid #cfcfcf; border-radius: 3px; box-shadow: none; width:100%; height:30px;" />
                            <p id="tipEmail" style="color:red; text-align:left;" hidden>NOT NULL</p>
                        </div>
                    </div>

                    <div class="col-12 col-12-s" style="text-align:left;padding:0 0">
                        <label>
                            Subject*
                        </label>
                    </div>


                    <div class="col-12 col-12-s" style="text-align:left;padding:1% 0">
                        <input name="subject" id="subject" style="border: 1px solid #cfcfcf; border-radius: 3px; box-shadow: none; width:100%; height:30px;" />
                        <p id="tipSubject" style="color:red; text-align:left;" hidden>NOT NULL</p>
                    </div>

                    <div class="col-12 col-12-s" style="text-align:left;padding:0 0">
                        <label>
                            Your Message*
                        </label>
                    </div>

                    <div class="col-12 col-12-s" style="padding:1% 0">
                        <textarea name="message" id="message" rows="5" style="border: 1px solid #cfcfcf; border-radius: 3px; box-shadow: none; width:100%; height:150px;"></textarea>
                        <p id="tipMessage" style="color:red; text-align:left;" hidden>NOT NULL</p>
                    </div>

                    <div class="col-12 col-12-s">
                        <button type="button" class="btn btn-default" style="margin-top:13px;" onclick="Send()">Send</button>
                    </div>

                </form>
            </div>
            <div class="col-6 col-12-s">
                <div class="col-12 col-12-s">
                    <label>
                        @Html.Raw(Model.Where(it => it.keys == "联系页标题右").First().value)
                    </label>
                </div>

                <div class="col-12 col-12-s" style="padding-bottom:1%;padding-top:30px">
                    <div class="col-12 col-12-s" style="text-align:left;padding:1% 10%">
                        <label>
                            Email:
                        </label>
                    </div>
                    <div class="col-12 col-12-s" style="text-align:left;padding:1% 10%">
                        @Html.Raw(Model.Where(it => it.keys == "联系页邮箱1").First().value)
                    </div>
                    <div class="col-12 col-12-s" style="text-align:left;padding:1% 10%">
                        @Html.Raw(Model.Where(it => it.keys == "联系页邮箱2").First().value)
                    </div>

                </div>

                <div class="col-12 col-12-s" style="padding-bottom:1%;">
                    <div class="col-12 col-12-s" style="text-align:left;padding:1% 10%">
                        <label>
                            TEL:
                        </label>
                    </div>
                    <div class="col-12 col-12-s" style="text-align:left;padding:1% 10%">
                        @Html.Raw(Model.Where(it => it.keys == "联系页电话1").First().value)
                    </div>
                    <div class="col-12 col-12-s" style="text-align:left;padding:1% 10%">
                        @Html.Raw(Model.Where(it => it.keys == "联系页电话2").First().value)
                    </div>

                    <div class="col-12 col-12-s" style="text-align:left;padding:1% 10%">
                        @Html.Raw(Model.Where(it => it.keys == "联系页电话3").First().value)
                    </div>
                </div>

            </div>
        </div>


    </div>
</section>

<script type="text/javascript">

    function Send() {

        $("#tipName").hide();
        $("#tipMessage").hide();
        $("#tipSubject").hide();
        $("#tipEmail").hide();

        var name = $("#name").val()
        if (name == "") {
            $("#tipName").show();
            return false;
        }
        var email = $("#email").val()
        if (email == "") {
            $("#tipEmail").show();
            return false;
        }
        var subject = $("#subject").val()
        if (subject == "") {
            $("#tipSubject").show();
            return false;
        }
        var message = $("#message").val()
        if (message == "") {
            $("#tipMessage").show();
            return false;
        }

        $.ajax({
            url: "/Home/Contact",
            type: "POST",
            async: false,
            data: {
                name: name,
                email:email,
                subject: subject,
                message: message
            },
            success: function (result) {
                if (result.code == "200") {
                    alert("Submitted successfully");
                    window.location.href = "/Home/Contact";
                }
                else if (result.code == "201") {
                    alert("Has not been submitted");
                    window.location.href = "/Home/Contact";
                }
                else {
                    alert(result.error)
                }
            }

        });

    }


</script>