
@model Entity.CompanyBaseEntity
@{
    List<Entity.FaqEntity> faqList = ViewBag.faqList;

    List<Entity.HtmlImageTextElementEntity> htmlImageTextElementEntities = ViewBag.htmlImageTextElementEntities;

}
<div>
    <img style="width:100%;" src="@htmlImageTextElementEntities.Where( it => it.keys == "帮助页图片" ).First().img" />
</div>

<section class="sec sec2">
    <div class="row boxed clearfix ">

        <div class="col-12 " style="padding-bottom:30px">
            <div class="col-12 productVideo">

                <div>@Html.Raw(ViewBag.FaqTitle)</div>
                <div class="col-12 ">
                    @foreach (var item in faqList)
                    {
                        <div class="col-12" style="padding:5% 10%; text-align:left">

                            <div>@Html.Raw(item.title)</div>

                            <div>@Html.Raw(item.contents)</div>

                        </div>
                    }
                </div>
                
            </div>

        </div>

        <div class="col-12 productVideo" style="padding-bottom:30px">
            <div class="col-12 productVideo">
                <div>@Html.Raw(ViewBag.ServiceTitle)</div>
                <div class="col-12">

                    <div class="col-4 col-12-s" style="padding:5% 10%; text-align:center">
                        <img style="width:100%;" src="@htmlImageTextElementEntities.Where(it => it.keys == "帮组页服务左").First().img" />
                        <div>@Html.Raw( htmlImageTextElementEntities.Where(it => it.keys == "帮组页服务左").First().contents)</div>
                    </div>

                    <div class="col-4 col-12-s" style="padding:5% 10%; text-align:center">
                        <img style="width:100%;" src="@htmlImageTextElementEntities.Where(it => it.keys == "帮组页服务中").First().img" />
                        <div>@Html.Raw(htmlImageTextElementEntities.Where(it => it.keys == "帮组页服务中").First().contents)</div>
                    </div>

                    <div class="col-4 col-12-s" style="padding:5% 10%; text-align:center">
                        <img style="width:100%;" src="@htmlImageTextElementEntities.Where(it => it.keys == "帮组页服务右").First().img" />
                        <div>@Html.Raw(htmlImageTextElementEntities.Where(it => it.keys == "帮组页服务右").First().contents)</div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>


